{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я Андрей Зюзин </h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
</p>

<div class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-education">
      <button class="accordion-button" type="button"
        data-bs-toggle="collapse" data-bs-target="#panel-education-text"
        aria-expanded="true" aria-controls="panel-education-text"
      >Образование</button>
    </h2>
    <div id="panel-education-text" class="accordion-collapse collapse show"
         aria-labelledby="panel-education">
      <div class="accordion-body">
        <p>
          Закончил в 2002
          <a href="https://mgsu.ru/">
            Московский государственный строительный университет
          </a>
        </p>
        <p>Факультет: Гидротехническое и специальное строительство</p>
        <p>Специальность: Гидротехническое строительство</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-courses">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panel-courses-text" aria-expanded="true"
              aria-controls="panel-courses-text"
      >Курсы</button>
    </h2>
    <div id="panel-courses-text" class="accordion-collapse collapse show"
         aria-labelledby="panel-courses">
      <div class="accordion-body">
        <p>
          На данный момент с октября 2022 по июль 2023 года обучаюсь в 
          <a href="https://practicum.yandex.ru/" target="_blank">
            Яндекс Практикум
          </a>
          на курс 
          <a href="https://practicum.yandex.ru/backend-developer/" target="_blank">
            Python-разработчик
          </a>
        </p>
        <p>
          В декабре 2022 года прошёл курс 
          <a href="https://stepik.org/course/512/" target="_blank">
            "Python: основы и применение"
          </a>          
          на <a href="https://stepik.org/" target="_blank">Stepik</a>.
          Ссылка на 
          <a href="https://stepik.org/cert/1764407/" target="_blank">
            электронный сертификат
          </a>
        </p>
        <p>
          В 2019 году прошёл курс 
          <a href="https://intuit.ru/studies/courses/111/111/info" target="_blank">
            "Введение в СУБД MySQL"
          </a>          
          на
          <a href="https://www.intuit.ru/" target="_blank">
            Национальном Открытом Университете «ИНТУИТ»
          </a>
          . Ссылка на 
          <a href="https://www.intuit.ru/verifydiplomas/101233456/" target="_blank">
            электронный сертификат
          </a>
        </p>
        <p>
          В 2019 году прошёл курс "Технология веб-дизайна IV (Программирование на языке PHP)" на
          <a href="http://obrazovanie.ooi.ru/" target="_blank">
            РООИ "Стратегия" Московский Центр Компьютерных Технологий
          </a>.
          <a href="#" role="button" data-bs-toggle="modal"
             data-bs-target="#modalPHP">Удостоверение</a>
        </p>
        <p>
          В 2019 году прошёл курс "Технология веб-дизайна III (Форма и JavaScript)" на
          <a href="http://obrazovanie.ooi.ru/" target="_blank">
            РООИ "Стратегия" Московский Центр Компьютерных Технологий
          </a>.
          <a href="#" role="button" data-bs-toggle="modal"
             data-bs-target="#modalJS">Удостоверение</a>
        </p>
        <p>
          В 2019 году прошёл курс "Технология веб-дизайна II (Основы верстки сайтов)" на
          <a href="http://obrazovanie.ooi.ru/" target="_blank">
            РООИ "Стратегия" Московский Центр Компьютерных Технологий
          </a>.
          <a href="#" role="button" data-bs-toggle="modal"
             data-bs-target="#modalHTML">Удостоверение</a>
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-skill">
      <button class="accordion-button" type="button" 
              data-bs-toggle="collapse" data-bs-target="#panel-skill-text"
              aria-expanded="true" aria-controls="panel-skill-text"
      >Программистские навыки</button>
    </h2>
    <div id="panel-skill-text" class="accordion-collapse collapse show"
         aria-labelledby="panel-skill">
      <div class="accordion-body">

        <div class="row align-items-center">
          <div class="col-sm-4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" 
                   aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
              >75%</div>
            </div>            
          </div>
          <div class="col-sm-8">
            <h5>Python</h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-sm-4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 40%;" 
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
              >40%</div>
            </div>            
          </div>
          <div class="col-sm-8">
            <h5>Django</h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-sm-4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" 
                   aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
              >50%</div>
            </div>            
          </div>
          <div class="col-sm-8">
            <h5>JavaScript</h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-sm-4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 40%;" 
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
              >40%</div>
            </div>            
          </div>
          <div class="col-sm-8">
            <h5>Vue</h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-sm-4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%;" 
                   aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
              >80%</div>
            </div>            
          </div>
          <div class="col-sm-8">
            <h5>Верстка</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="accordion" id="accordionPanels">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-portfolio">
      <button class="accordion-button" type="button"
              data-bs-toggle="collapse" data-bs-target="#panel-portfolio-text"
              aria-expanded="true" aria-controls="panel-portfolio-text"
      >Портфолио</button>
    </h2>
    <div id="panel-portfolio-text" class="accordion-collapse collapse"
        aria-labelledby="panel-portfolio" data-bs-parent="#accordionPanels">
      <div class="accordion-body">
        <p>
          Закончил в 2002
          <a href="https://mgsu.ru/">
            Московский государственный строительный университет
          </a>
        </p>
        <p>Факультет: Гидротехническое и специальное строительство</p>
        <p>Специальность: Гидротехническое строительство</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-work">
      <button class="accordion-button" type="button"
              data-bs-toggle="collapse" data-bs-target="#panel-work-text"
              aria-expanded="true" aria-controls="panel-work-text"
      >Работа</button>
    </h2>
    <div id="panel-work-text" class="accordion-collapse collapse"
        aria-labelledby="panel-work" data-bs-parent="#accordionPanels">
      <div class="accordion-body">
        <p>
          Закончил в 2002
          <a href="https://mgsu.ru/">
            Московский государственный строительный университет
          </a>
        </p>
        <p>Факультет: Гидротехническое и специальное строительство</p>
        <p>Специальность: Гидротехническое строительство</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-hobby">
      <button class="accordion-button" type="button"
              data-bs-toggle="collapse" data-bs-target="#panel-hobby-text"
              aria-expanded="true" aria-controls="panel-hobby-text"
      >Хобби</button>
    </h2>
    <div id="panel-hobby-text" class="accordion-collapse collapse"
        aria-labelledby="panel-hobby" data-bs-parent="#accordionPanels">
      <div class="accordion-body">
        <p>
          Закончил в 2002
          <a href="https://mgsu.ru/">
            Московский государственный строительный университет
          </a>
        </p>
        <p>Факультет: Гидротехническое и специальное строительство</p>
        <p>Специальность: Гидротехническое строительство</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-test">
      <button class="accordion-button" type="button"
        data-bs-toggle="collapse" data-bs-target="#panel-test-text"
        aria-expanded="true" aria-controls="panel-test-text"
      >Test</button>
    </h2>
    <div id="panel-test-text" class="accordion-collapse collapse show"
        aria-labelledby="panel-test">
      <div class="accordion-body">
        <p>
          Закончил в 2002
          <a href="https://mgsu.ru/">
            Московский государственный строительный университет
          </a>
        </p>
        <p>Факультет: Гидротехническое и специальное строительство</p>
        <p>Специальность: Гидротехническое строительство</p>
      </div>
    </div>
  </div>

</div>

<!-- Modals -->
<style>
  @media (min-width: 576px){
    .modal-dialog.model-dialog-big-window{
      max-width: 80%;
    }
  }
  .max-height-85vmin{
    max-height: 85vmin;
  }
</style>
<div class="modal fade" id="modalPHP" tabindex="-1"
     aria-labelledby="modalPHPLabel" aria-hidden="true">
  <div class="modal-dialog model-dialog-big-window">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPHPLabel">Программирование на языке PHP</h5>
        <button type="button" class="close"
                data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body d-flex max-height-85vmin">
        <img class="img-fluid mx-auto d-block" loading="lazy"
             src="{% static 'img/diploma/2019-12-05-PHP.jpg' %}" />
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalJS" tabindex="-1"
     aria-labelledby="modalJSLabel" aria-hidden="true">
  <div class="modal-dialog model-dialog-big-window">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalJSLabel">Форма и JavaScript</h5>
        <button type="button" class="close"
                data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body d-flex max-height-85vmin">
        <img class="img-fluid mx-auto d-block" loading="lazy"
             src="{% static 'img/diploma/2019-07-01-js.jpg' %}" />
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalHTML" tabindex="-1"
     aria-labelledby="modalHTMLLabel" aria-hidden="true">
  <div class="modal-dialog model-dialog-big-window">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalHTMLLabel">Форма и JavaScript</h5>
        <button type="button" class="close"
                data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body d-flex max-height-85vmin">
        <img class="img-fluid mx-auto d-block" loading="lazy"
             src="{% static 'img/diploma/2019-07-01-layout.jpg' %}" />
      </div>
    </div>
  </div>
</div>



{% endblock %} 