{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>Технологии использованные для создания данного сайта</h1>

<div class="row">
  <div class="col-md-4 mt-3">
    <div class="list-group" id="list-tab" role="tablist">
      {% for item in techs%}
        <a 
          class="list-group-item list-group-item-action{% if forloop.first %} active{% endif %}" 
          id="list-{{ item.name }}-list" 
          data-bs-toggle="list"
          href="#list-{{ item.name }}"
          role="tab" 
          aria-controls="{{ item.name }}"
        >{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-8 mt-3">
    <div class="tab-content" id="nav-tabContent">
      {% for item in techs%}
        <div 
          class="tab-pane fade{% if forloop.first %} show active{% endif %}"
          id="list-{{ item.name }}" 
          role="tabpanel"
          aria-labelledby="list-{{ item.name }}-list">
          {% if item.text %} {{ item.text|safe }} {% endif %}
          {% if item.include %} {% include item.include %} {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} 